# Data Wrangling

### This notebook includes the following:

**Data Consolidation:** Load and merge the per 36 statistics data and the player salary data  
**Data Cleaning:** Identify and correct erroneous data (NaN, repeated rows, similar strings, etc.)  
**Addition of Extra Data:** Load market size data and merge it with the main dataset

## Data Consolidation

In [1]:
import pandas as pd

In [2]:
# Load the 2020-2021 player stats data and the 2020 player salary data
per36 = pd.read_csv('nba2021_per36min.csv')
per36.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,PF,21,MIA,28,2,408,6.4,10.8,0.590,...,0.561,3.2,6.7,9.9,1.5,1.1,1.3,2.6,4.8,16.0
1,Jaylen Adams,PG,24,MIL,6,0,17,2.1,16.9,0.125,...,0.000,0.0,6.4,6.4,4.2,0.0,0.0,0.0,2.1,4.2
2,Steven Adams,C,27,NOP,27,27,760,4.5,7.4,0.603,...,0.468,5.5,5.8,11.3,2.7,1.2,0.7,2.2,2.4,10.3
3,Bam Adebayo,C,23,MIA,26,26,873,7.9,13.8,0.573,...,0.841,2.1,7.8,9.9,5.7,1.0,1.1,3.2,2.8,21.4
4,LaMarcus Aldridge,C,35,SAS,18,18,480,8.0,16.9,0.476,...,0.762,1.1,4.7,5.9,2.6,0.5,1.2,1.2,2.0,19.0

In [3]:
# Check the dimensions of the dataframe
per36.shape

(496, 28)

In [4]:
# Load the 2020 player salary data
salary = pd.read_csv('NBA Players Salaries 2020.csv')
salary.head()

,Rk,Player,Tm,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,1,Stephen Curry\curryst01,GSW,40231758.00 $,43006362.00 $,45780966.00 $,NaN,NaN,NaN,Bird Rights,129019086.00 $
1,2,Chris Paul\paulch01,OKC,38506482.00 $,41358814.00 $,44211146.00 $,NaN,NaN,NaN,Bird Rights,79865296.00 $
2,3,Russell Westbrook\westbru01,HOU,38178000.00 $,41006000.00 $,43848000.00 $,46662000.00 $,NaN,NaN,Bird Rights,123032000.00 $
3,4,John Wall\walljo01,WAS,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
4,5,James Harden\hardeja01,HOU,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $

In [5]:
# Check the dimensions of the dataframe
salary.shape

(567, 11)

There is a 'Player' column in each dataframe, which will be the easiest column to join on.  First, the extra text in the salary dataframe 'Player' column needs to be removed.  Then the dataframes can be merged.

In [6]:
# Remove the extra text in the 'Player' column of the salary dataframe
salary['Player'] = salary['Player'].str.split('\\').str[0]
salary.head()

,Rk,Player,Tm,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,1,Stephen Curry,GSW,40231758.00 $,43006362.00 $,45780966.00 $,NaN,NaN,NaN,Bird Rights,129019086.00 $
1,2,Chris Paul,OKC,38506482.00 $,41358814.00 $,44211146.00 $,NaN,NaN,NaN,Bird Rights,79865296.00 $
2,3,Russell Westbrook,HOU,38178000.00 $,41006000.00 $,43848000.00 $,46662000.00 $,NaN,NaN,Bird Rights,123032000.00 $
3,4,John Wall,WAS,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $
4,5,James Harden,HOU,37800000.00 $,40824000.00 $,43848000.00 $,46872000.00 $,NaN,NaN,Bird Rights,122472000.00 $

In [7]:
# Merge the two dataframes on the 'Player' column, keeping only the rows that have a matching 'Player' value
df = pd.merge(per36, salary, on='Player')
df.head()

,Player,Pos,Age,Tm_x,G,GS,MP,FG,FGA,FG%,...,Rk,Tm_y,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,Jaylen Adams,PG,24,MIL,6,0,17,2.1,16.9,0.125,...,531,POR,163356.00 $,NaN,NaN,NaN,NaN,NaN,Minimum Salary,163356.00 $
1,Jaylen Adams,PG,24,MIL,6,0,17,2.1,16.9,0.125,...,544,ATL,100000.00 $,NaN,NaN,NaN,NaN,NaN,NaN,100000.00 $
2,Steven Adams,C,27,NOP,27,27,760,4.5,7.4,0.603,...,41,OKC,25842697.00 $,27528090.00 $,NaN,NaN,NaN,NaN,1st Round Pick,53370787.00 $
3,Bam Adebayo,C,23,MIA,26,26,873,7.9,13.8,0.573,...,253,MIA,3454080.00 $,5115492.00 $,NaN,NaN,NaN,NaN,1st Round Pick,8569572.00 $
4,LaMarcus Aldridge,C,35,SAS,18,18,480,8.0,16.9,0.476,...,40,SAS,26000000.00 $,24000000.00 $,NaN,NaN,NaN,NaN,Cap Space,50000000.00 $

In [8]:
# Look at columns in the new dataframe
df.columns

Index(['Player', 'Pos', 'Age', 'Tm_x', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Rk', 'Tm_y',
       '2019-20', '2020-21', '2021-22', '2022-23', '2023-24', '2024-25',
       'Signed Using', 'Guaranteed'],
      dtype='object')

In [9]:
# Check for missing values
null_data = df[df.isnull().any(axis=1)]
print(null_data)

                Player Pos  Age Tm_x   G  GS   MP   FG   FGA    FG%  ...   Rk  \
0         Jaylen Adams  PG   24  MIL   6   0   17  2.1  16.9  0.125  ...  531
1         Jaylen Adams  PG   24  MIL   6   0   17  2.1  16.9  0.125  ...  544
2         Steven Adams   C   27  NOP  27  27  760  4.5   7.4  0.603  ...   41
3          Bam Adebayo   C   23  MIA  26  26  873  7.9  13.8  0.573  ...  253
4    LaMarcus Aldridge   C   35  SAS  18  18  480  8.0  16.9  0.476  ...   40
..                 ...  ..  ...  ...  ..  ..  ...  ...   ...    ...  ...  ...
396       Delon Wright  SG   28  DET  28  23  823  4.5  10.0  0.456  ...  133
397     Thaddeus Young  PF   32  CHI  23   0  592  7.2  12.2  0.587  ...   98
398         Trae Young  PG   22  ATL  26  26  901  7.9  18.3  0.429  ...  180
399        Cody Zeller   C   28  CHO  15  12  361  6.3  12.0  0.525  ...   87
400        Ivica Zubac   C   23  LAC  30   1  586  5.8   8.7  0.669  ...  176

     Tm_y        2019-20        2020-21        2021-22       2022-23  2023-24  \
0     POR    163356.00 $            NaN            NaN           NaN      NaN
1     ATL    100000.00 $            NaN            NaN           NaN      NaN
2     OKC  25842697.00 $  27528090.00 $            NaN           NaN      NaN
3     MIA   3454080.00 $   5115492.00 $            NaN           NaN      NaN
4     SAS  26000000.00 $  24000000.00 $            NaN           NaN      NaN
..    ...            ...            ...            ...           ...      ...
396   DAL   9473684.00 $   9000000.00 $   8526316.00 $           NaN      NaN
397   CHI  12900000.00 $  13545000.00 $  14190000.00 $           NaN      NaN
398   ATL   6273000.00 $   6571800.00 $   8326471.00 $           NaN      NaN
399   CHO  14471910.00 $  15415730.00 $            NaN           NaN      NaN
400   LAC   6481482.00 $   7000000.00 $   7518518.00 $  7518518.00 $      NaN

     2024-25    Signed Using     Guaranteed
0        NaN  Minimum Salary    163356.00 $
1        NaN             NaN    100000.00 $
2        NaN  1st Round Pick  53370787.00 $
3        NaN  1st Round Pick   8569572.00 $
4        NaN       Cap Space  50000000.00 $
..       ...             ...            ...
396      NaN  Sign and Trade  27000000.00 $
397      NaN       Cap space  32445000.00 $
398      NaN  1st Round Pick  12844800.00 $
399      NaN  1st Round Pick  29887640.00 $
400      NaN     Bird Rights  21000000.00 $

[398 rows x 38 columns]

## Data Cleaning

Based on the initial examination of the data, the following steps must be taken to clean up the data.

**Replace Tm_x and Tm_y columns with one column 'Team'**  
There are two team columns (Tm_x and Tm_y) and in some rows they do not match.  This is likely the result of trades and free agency signings that caused a player to change teams.  In the two datasets that were merged, one has the old team and the other has the new team.  The new 'Team column' will take the team from the per36 database.

**Remove salary information other than 2019-20**  
Many players do not have data for years past 2019-20.  Since players often sign short term contracts it is likely that many players are not missing entries, they just have not signed a new contract yet and so the information does not yet exist.

**Drop the Rk column**  
This column ranks the players from highest to lowest salary.  This can be accomplished by sorting by column values so it is unnecessary and can be removed.

**Fill missing values in the Signed Using column with 'Unknown'**  
Since the type of contract affects how much money a player can earn, it is better to keep this column and fill missing values than to drop it.

**Remove non-numeric characters from the 2019-20 salary column, change the data type to numeric, convert to millions, and rename 'Salary (millions)'**  
This data should be numeric for easy handling.  It will also be easier to compare quickly if it has units of millions of dollars instead of dollars.

In [10]:
# Replace 'Tm_x' with 'Team'
df['Team'] = df['Tm_x']

In [11]:
# Drop unecessary columns
df = df.drop(['Tm_x', 'Tm_y', 'Rk', '2020-21', '2021-22', '2022-23', '2023-24', '2024-25', 'Guaranteed'], axis=1)
df.head()

,Player,Pos,Age,G,GS,MP,FG,FGA,FG%,3P,...,TRB,AST,STL,BLK,TOV,PF,PTS,2019-20,Signed Using,Team
0,Jaylen Adams,PG,24,6,0,17,2.1,16.9,0.125,0.0,...,6.4,4.2,0.0,0.0,0.0,2.1,4.2,163356.00 $,Minimum Salary,MIL
1,Jaylen Adams,PG,24,6,0,17,2.1,16.9,0.125,0.0,...,6.4,4.2,0.0,0.0,0.0,2.1,4.2,100000.00 $,NaN,MIL
2,Steven Adams,C,27,27,27,760,4.5,7.4,0.603,0.0,...,11.3,2.7,1.2,0.7,2.2,2.4,10.3,25842697.00 $,1st Round Pick,NOP
3,Bam Adebayo,C,23,26,26,873,7.9,13.8,0.573,0.1,...,9.9,5.7,1.0,1.1,3.2,2.8,21.4,3454080.00 $,1st Round Pick,MIA
4,LaMarcus Aldridge,C,35,18,18,480,8.0,16.9,0.476,1.8,...,5.9,2.6,0.5,1.2,1.2,2.0,19.0,26000000.00 $,Cap Space,SAS

In [12]:
# Replace the missing values in the 'Signed Using' column with 'Unknown'
df['Signed Using'] = df['Signed Using'].fillna('Unknown')

# Check if any missing data remains
null_data = df[df.isnull().any(axis=1)]
print(null_data)

Empty DataFrame
Columns: [Player, Pos, Age, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, 2019-20, Signed Using, Team]
Index: []

[0 rows x 30 columns]

In [13]:
# Remove extra characters from the 2019-20 column
no_symbol = df['2019-20'].str.replace('$', '')
no_space = no_symbol.str.strip()

# Change to numeric dtype
df['2019-20'] = pd.to_numeric(no_space)

# Convert to millions of dollars and rename
df['Salary (millions)'] = df['2019-20'] / 1000000
del df['2019-20']

<ipython-input-13-d68967b9e3be>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  no_symbol = df['2019-20'].str.replace('$', '')

In [14]:
# Check dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401 entries, 0 to 400
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             401 non-null    object
 1   Pos                401 non-null    object
 2   Age                401 non-null    int64
 3   G                  401 non-null    int64
 4   GS                 401 non-null    int64
 5   MP                 401 non-null    int64
 6   FG                 401 non-null    float64
 7   FGA                401 non-null    float64
 8   FG%                401 non-null    float64
 9   3P                 401 non-null    float64
 10  3PA                401 non-null    float64
 11  3P%                401 non-null    float64
 12  2P                 401 non-null    float64
 13  2PA                401 non-null    float64
 14  2P%                401 non-null    float64
 15  FT                 401 non-null    float64
 16  FTA                401 non-null    float64
 17  FT%                401 non-null    float64
 18  ORB                401 non-null    float64
 19  DRB                401 non-null    float64
 20  TRB                401 non-null    float64
 21  AST                401 non-null    float64
 22  STL                401 non-null    float64
 23  BLK                401 non-null    float64
 24  TOV                401 non-null    float64
 25  PF                 401 non-null    float64
 26  PTS                401 non-null    float64
 27  Signed Using       401 non-null    object
 28  Team               401 non-null    object
 29  Salary (millions)  401 non-null    float64
dtypes: float64(22), int64(4), object(4)
memory usage: 97.1+ KB

**Categorical Data Cleaning**  
Now that the obvious issues have been fixed, it's time to look more closely at the object dtypes.

In [15]:
# Check if there are any repeat entries for Player
df['Player'].duplicated().sum()

33

In [16]:
# Identify duplicated players
duplicates = df.loc[df['Player'].duplicated(keep=False), :]
duplicates

,Player,Pos,Age,G,GS,MP,FG,FGA,FG%,3P,...,TRB,AST,STL,BLK,TOV,PF,PTS,Signed Using,Team,Salary (millions)
0,Jaylen Adams,PG,24,6,0,17,2.1,16.9,0.125,0.0,...,6.4,4.2,0.0,0.0,0.0,2.1,4.2,Minimum Salary,MIL,0.163356
1,Jaylen Adams,PG,24,6,0,17,2.1,16.9,0.125,0.0,...,6.4,4.2,0.0,0.0,0.0,2.1,4.2,Unknown,MIL,0.100000
7,Jarrett Allen,C,22,28,10,734,6.0,9.3,0.642,0.0,...,12.4,2.2,0.6,2.3,2.1,2.2,16.9,1st Round Pick,TOT,2.376840
8,Jarrett Allen,C,22,12,5,320,5.0,7.3,0.677,0.0,...,14.1,2.3,0.8,2.1,2.5,2.4,15.1,1st Round Pick,BRK,2.376840
9,Jarrett Allen,C,22,16,5,414,6.8,10.9,0.624,0.1,...,11.0,2.2,0.5,2.3,1.8,2.0,18.3,1st Round Pick,CLE,2.376840
31,Jordan Bell,C,26,3,1,50,3.6,10.8,0.333,0.0,...,11.5,3.6,0.7,2.2,2.2,2.9,7.2,Unknown,WAS,1.620564
32,Jordan Bell,C,26,3,1,50,3.6,10.8,0.333,0.0,...,11.5,3.6,0.7,2.2,2.2,2.9,7.2,MLE,WAS,0.250000
47,Avery Bradley,SG,30,10,1,211,5.3,11.3,0.470,2.7,...,3.1,2.4,1.2,0.2,1.5,4.4,14.5,Room Exception,MIA,4.767000
48,Avery Bradley,SG,30,10,1,211,5.3,11.3,0.470,2.7,...,3.1,2.4,1.2,0.2,1.5,4.4,14.5,Unknown,MIA,2.000000
61,Trey Burke,PG,28,27,0,466,6.1,13.8,0.444,2.8,...,2.3,3.3,1.6,0.2,1.2,3.1,16.8,Unknown,DAL,2.028594
62,Trey Burke,PG,28,27,0,466,6.1,13.8,0.444,2.8,...,2.3,3.3,1.6,0.2,1.2,3.1,16.8,Minimum Salary,DAL,0.229220
73,Marquese Chriss,PF,23,2,0,27,6.7,18.7,0.357,1.3,...,17.3,2.7,0.0,2.7,2.7,4.0,17.3,Unknown,GSW,0.758804
74,Marquese Chriss,PF,23,2,0,27,6.7,18.7,0.357,1.3,...,17.3,2.7,0.0,2.7,2.7,4.0,17.3,Minimum Salary,GSW,0.654468
75,Gary Clark,SF,26,26,11,545,2.0,6.7,0.294,1.5,...,6.1,1.6,0.6,0.3,1.0,1.9,5.9,Unknown,ORL,0.708426
76,Gary Clark,SF,26,26,11,545,2.0,6.7,0.294,1.5,...,6.1,1.6,0.6,0.3,1.0,1.9,5.9,Minimum Salary,ORL,0.555409
77,Gary Clark,SF,26,26,11,545,2.0,6.7,0.294,1.5,...,6.1,1.6,0.6,0.3,1.0,1.9,5.9,Unknown,ORL,0.163356
145,Jeff Green,PF,34,30,13,780,4.8,9.5,0.505,2.2,...,5.2,2.0,0.9,0.4,1.1,2.7,13.5,Unknown,BRK,2.564753
146,Jeff Green,PF,34,30,13,780,4.8,9.5,0.505,2.2,...,5.2,2.0,0.9,0.4,1.1,2.7,13.5,Minimum Salary,BRK,0.695526
147,Jeff Green,PF,34,30,13,780,4.8,9.5,0.505,2.2,...,5.2,2.0,0.9,0.4,1.1,2.7,13.5,Unknown,BRK,0.144901
150,James Harden,SG,31,24,24,903,7.3,15.1,0.482,2.9,...,7.0,10.8,1.0,0.7,4.1,2.2,23.4,Bird Rights,TOT,37.800000
151,James Harden,SG,31,8,8,290,7.4,16.8,0.444,3.1,...,5.1,10.3,0.9,0.7,4.2,1.7,24.6,Bird Rights,HOU,37.800000
152,James Harden,SG,31,16,16,613,7.2,14.4,0.502,2.8,...,7.9,11.0,1.1,0.7,4.1,2.4,22.8,Bird Rights,BRK,37.800000
167,George Hill,PG,34,14,14,369,6.0,11.7,0.508,2.1,...,2.8,4.2,1.2,0.2,1.2,1.2,16.1,Cap Space,OKC,9.133907
168,George Hill,PG,34,14,14,369,6.0,11.7,0.508,2.1,...,2.8,4.2,1.2,0.2,1.2,1.2,16.1,Unknown,OKC,1.000000
178,Dwight Howard,C,35,29,4,483,4.5,8.2,0.555,0.2,...,16.6,1.4,0.9,1.9,4.0,6.8,12.7,Unknown,PHI,3.039097
179,Dwight Howard,C,35,29,4,483,4.5,8.2,0.555,0.2,...,16.6,1.4,0.9,1.9,4.0,6.8,12.7,Minimum Salary,PHI,2.564753
192,Reggie Jackson,SG,30,27,14,562,5.4,12.7,0.427,2.0,...,4.7,5.6,1.2,0.2,1.7,3.3,14.8,Unknown,LAC,17.286956
193,Reggie Jackson,SG,30,27,14,562,5.4,12.7,0.427,2.0,...,4.7,5.6,1.2,0.2,1.7,3.3,14.8,Minimum Salary,LAC,0.734025
200,Tyler Johnson,SG,28,13,1,159,4.8,10.6,0.447,3.4,...,3.4,2.5,0.9,0.0,0.9,1.8,13.4,Unknown,BRK,19.245370
201,Tyler Johnson,SG,28,13,1,159,4.8,10.6,0.447,3.4,...,3.4,2.5,0.9,0.0,0.9,1.8,13.4,Minimum Salary,BRK,0.212753
215,Rodions Kurucs,SF-PF,22,14,0,73,3.0,9.9,0.300,1.5,...,5.9,2.0,2.5,1.0,3.5,3.9,7.9,Cap space,TOT,1.699236
216,Rodions Kurucs,PF,22,5,0,16,2.3,6.8,0.333,2.3,...,6.8,4.5,0.0,0.0,0.0,2.3,6.8,Cap space,BRK,1.699236
217,Rodions Kurucs,SF,22,9,0,57,3.2,10.7,0.294,1.3,...,5.7,1.3,3.2,1.3,4.4,4.4,8.2,Cap space,HOU,1.699236
224,Alex Len,C,27,20,6,292,5.8,9.2,0.627,0.7,...,8.6,2.6,1.0,2.7,2.8,4.7,14.8,Room Exception,TOT,4.160000
225,Alex Len,C,27,7,2,76,2.4,4.7,0.500,1.4,...,5.2,1.4,0.5,2.8,3.8,4.7,7.6,Room Exception,TOR,4.160000
226,Alex Len,C,27,13,4,216,7.0,10.8,0.646,0.5,...,9.8,3.0,1.2,2.7,2.5,4.7,17.3,Room Exception,WAS,4.160000
237,Timothé Luwawu-Cabarrot,SF,25,30,5,590,4.8,11.8,0.404,2.7,...,4.4,2.3,1.2,0.3,1.3,2.9,13.4,Minimum Salary,BRK,0.654468
238,Timothé Luwawu-Cabarrot,SF,25,30,5,590,4.8,11.8,0.404,2.7,...,4.4,2.3,1.2,0.3,1.3,2.9,13.4,Unknown,BRK,0.189702
253,Alfonzo McKinnie,SF,28,14,0,44,8.2,13.1,0.625,2.5,...,9.8,0.8,0.8,0.0,0.8,3.3,20.5,MLE,LAL,1.361046
254,Alfonzo McKinnie,SF,28,14,0,44,8.2,13.1,0.625,2.5,...,9.8,0.8,0.8,0.0,0.8,3.3,20.5,Unknown,LAL,0.708871
255,Alfonzo McKinnie,SF,28,14,0,44,8.2,13.1,0.625,2.5,...,9.8,0.8,0.8,0.0,0.8,3.3,20.5,Unknown,LAL,0.183114
271,Markieff Morris,PF,31,23,2,353,3.7,9.5,0.387,2.0,...,8.2,2.0,0.4,0.6,1.2,3.5,10.7,Unknown,LAL,2.241808
272,Markieff Morris,PF,31,23,2,353,3.7,9.5,0.387,2.0,...,8.2,2.0,0.4,0.6,1.2,3.5,10.7,DPE,LAL,1.750000
274,Mychal Mulder,PG,26,28,1,303,4.8,10.0,0.476,3.8,...,3.1,1.4,0.7,0.7,0.6,3.2,14.1,Minimum Salary,GSW,0.187782
275,Mychal Mulder,PG,26,28,1,303,4.8,10.0,0.476,3.8,...,3.1,1.4,0.7,0.7,0.6,3.2,14.1,Unknown,GSW,0.050752
287,David Nwaba,SF,28,24,9,560,5.2,10.8,0.482,0.9,...,5.7,1.7,1.7,1.2,1.0,3.2,13.5,Unknown,HOU,1.678854
288,David Nwaba,SF,28,24,9,560,5.2,10.8,0.482,0.9,...,5.7,1.7,1.7,1.2,1.0,3.2,13.5,MLE,HOU,0.903111
294,Victor Oladipo,SG,28,20,20,640,7.9,19.6,0.401,2.7,...,5.9,5.2,1.5,0.5,2.5,2.7,21.5,1st Round Pick,TOT,21.000000
295,Victor Oladipo,SG,28,9,9,300,7.7,18.2,0.421,3.0,...,6.1,4.6,1.8,0.2,2.2,2.8,21.6,1st Round Pick,IND,21.000000
296,Victor Oladipo,SG,28,11,11,340,8.0,20.9,0.386,2.4,...,5.6,5.7,1.3,0.6,2.8,2.6,21.4,1st Round Pick,HOU,21.000000
302,Patrick Patterson,PF,31,10,1,130,4.4,10.5,0.421,2.8,...,5.5,1.4,0.8,0.3,1.9,3.6,12.5,Minimum Salary,LAC,2.331593
303,Patrick Patterson,PF,31,10,1,130,4.4,10.5,0.421,2.8,...,5.5,1.4,0.8,0.3,1.9,3.6,12.5,Unknown,LAC,0.737067
305,Cameron Payne,PG,26,16,0,275,5.4,11.7,0.461,2.0,...,3.9,7.6,1.2,0.4,2.5,4.3,13.9,Minimum Salary,PHO,0.196288
306,Cameron Payne,PG,26,16,0,275,5.4,11.7,0.461,2.0,...,3.9,7.6,1.2,0.4,2.5,4.3,13.9,Unknown,PHO,0.150000
331,Derrick Rose,PG,32,20,0,445,8.1,18.9,0.427,1.3,...,3.5,6.5,1.9,0.6,3.0,1.7,21.8,MLE,TOT,7.317073
332,Derrick Rose,PG,32,15,0,342,8.3,19.4,0.429,1.4,...,3.1,6.6,1.9,0.4,3.1,1.8,22.4,MLE,DET,7.317073
333,Derrick Rose,G,32,5,0,103,7.3,17.5,0.420,1.0,...,4.9,5.9,1.7,1.0,2.8,1.4,19.6,MLE,NYK,7.317073

It appears that there are multiple rows for players that played for multiple teams in the 2020 season, with each row representing their stats with one team.  This is a bit complicated since many factors change when a player joins a new team, for example the play style and the player role.  It also looks like some of these players had different salaries when they were traded or signed by a new team.  The easiest and best solution to avoid errors in trying to combine rows is to drop all the duplicate rows, including the 'first' row (the one not seen in the above table).

In [17]:
# Drop all rows with duplicated Players
df = df.drop_duplicates(subset='Player', keep=False)
df.head()

,Player,Pos,Age,G,GS,MP,FG,FGA,FG%,3P,...,TRB,AST,STL,BLK,TOV,PF,PTS,Signed Using,Team,Salary (millions)
2,Steven Adams,C,27,27,27,760,4.5,7.4,0.603,0.0,...,11.3,2.7,1.2,0.7,2.2,2.4,10.3,1st Round Pick,NOP,25.842697
3,Bam Adebayo,C,23,26,26,873,7.9,13.8,0.573,0.1,...,9.9,5.7,1.0,1.1,3.2,2.8,21.4,1st Round Pick,MIA,3.454080
4,LaMarcus Aldridge,C,35,18,18,480,8.0,16.9,0.476,1.8,...,5.9,2.6,0.5,1.2,1.2,2.0,19.0,Cap Space,SAS,26.000000
5,Nickeil Alexander-Walker,SG,22,23,3,441,6.3,15.3,0.410,2.0,...,5.0,3.8,2.0,0.7,2.4,3.3,16.6,1st Round Pick,NOP,2.964840
6,Grayson Allen,SG,25,19,8,454,4.8,11.1,0.429,3.5,...,4.4,3.1,1.5,0.2,1.6,1.9,15.6,1st Round Pick,MEM,2.429400

In [18]:
# Check unique entries for Pos
df['Pos'].unique()

array(['C', 'SG', 'PF', 'SF', 'PG', 'F-C', 'G', 'F'], dtype=object)

In [19]:
# Identify players who do not have one and only one of the five positions - PG, SG, SF, PF, or C
bad_pos = ['SF-PF', 'F-C', 'G', 'F']
bad_players = []

for pos in bad_pos:
    player = df[df['Pos'] == pos]['Player']
    bad_players.append(player)
    
print(bad_players)

[Series([], Name: Player, dtype: object), 308    Norvel Pelle
Name: Player, dtype: object, 319    Chasson Randle
Name: Player, dtype: object, 372    Noah Vonleh
Name: Player, dtype: object]

After a quick Google search to verify each players position, the changes can be made.  
  
Norvel Pelle - PF  
Chasson Randle - PG    
Noah Vonleh - PF

In [20]:
# Replace Pos entries with correct entries
df.at[[308, 372], 'Pos'] = 'PF'
df.at[[319], 'Pos'] = 'PG'

# Check unique entries for Pos
df['Pos'].unique()

array(['C', 'SG', 'PF', 'SF', 'PG'], dtype=object)

In [21]:
# Check unique entries for Signed Using
df['Signed Using'].unique()

array(['1st Round Pick', 'Cap Space', 'MLE', 'Minimum Salary',
       'Cap space', 'Bird Rights', 'Non-Bird Exception', '1st Round pick',
       'Early Bird Rights', 'Unknown', '1st round pick', 'Sign and Trade',
       'Room Exception', 'MInimum Salary', 'Maximum Salary',
       'Bi-annual Exception', 'Bi-Annual Exception'], dtype=object)

In [22]:
# Clean up the entries
df['Signed Using'] = df['Signed Using'].replace(['Bi-annual Exception', 'Bird Rights', '1st Round pick', '1st round pick', 'MInimum Salary', 'Cap space'],
                                               ['Bi-Annual Exception', 'Early Bird Rights', '1st Round Pick', '1st Round Pick', 'Minimum Salary', 'Cap Space'])

# Check unique entries for Signed Using
df['Signed Using'].unique()

array(['1st Round Pick', 'Cap Space', 'MLE', 'Minimum Salary',
       'Early Bird Rights', 'Non-Bird Exception', 'Unknown',
       'Sign and Trade', 'Room Exception', 'Maximum Salary',
       'Bi-Annual Exception'], dtype=object)

In [23]:
# Check unique entries for Team
df['Team'].unique()

array(['NOP', 'MIA', 'SAS', 'MEM', 'ORL', 'MIL', 'POR', 'TOR', 'CHI',
       'PHO', 'SAC', 'NYK', 'DEN', 'LAC', 'GSW', 'OKC', 'WAS', 'MIN',
       'IND', 'CHO', 'ATL', 'UTA', 'CLE', 'PHI', 'BRK', 'BOS', 'HOU',
       'DAL', 'LAL', 'DET'], dtype=object)

In [24]:
len(df['Team'].unique())

30

It looks like the Team data can be left as it is from a cleanliness standpoint.  There are no repeats and all 30 NBA teams are included.

## Addition of Extra Data

Since the size of which city/franchise a player plays in could affect their salary, data about franchise valuations needs to be pulled.  Data was taken from a Forbes article at https://www.forbes.com/sites/kurtbadenhausen/2021/02/10/nba-team-values-2021-knicks-keep-top-spot-at-5-billion-warriors-bump-lakers-for-second-place/?sh=85035f5645b7

In [25]:
# Create new dataframe where team valuation information will be stored
market = pd.DataFrame()

# Create a dictionary with the team as the key and the franchise value as the value, shown in Billions of Dollars.
dict = {'MEM':1.3, 'NOP':1.35, 'MIN':1.4, 'DET':1.45, 'ORL':1.46,
       'CHO':1.5, 'ATL':1.52, 'IND':1.55, 'CLE':1.56, 'OKC':1.575, 
       'MIL':1.625, 'DEN':1.65, 'UTA':1.66, 'PHO':1.7, 'WAS':1.8, 
       'SAC':1.825, 'SAS':1.85, 'POR':1.9, 'MIA':2, 'PHI':2.075, 
       'TOR':2.15, 'DAL':2.45, 'HOU':2.5, 'BRK':2.65, 'LAC':2.75, 
       'BOS':3.2, 'CHI':3.3, 'LAL':4.6, 'GSW':4.7, 'NYK':5}

# Add the dictionary values to the market dataframe
market = market.append(dict, ignore_index=True)
market = market.T
market.reset_index(inplace=True, drop=False)
market.columns = ['Team', 'Team Value (Billions)']
market.head()

  Team  Team Value (Billions)
0  ATL                   1.52
1  BOS                   3.20
2  BRK                   2.65
3  CHI                   3.30
4  CHO                   1.50

In [26]:
# Get some basic stats for the team values
mean = market['Team Value (Billions)'].mean()
med = market['Team Value (Billions)'].median()
cut_25 = market['Team Value (Billions)'].quantile(0.25)
cut_75 = market['Team Value (Billions)'].quantile(0.75)

print('The mean is ' + str(mean) + ' billion dollars')
print('The median is ' + str(med) + ' billion dollars')
print('50% of teams are valued between ' + str(cut_25) + ' and ' + str(cut_75) + ' billion dollars')

The mean is 2.201666666666667 billion dollars
The median is 1.8125 billion dollars
50% of teams are valued between 1.5525 and 2.4875 billion dollars

In [27]:
# Add a column so that the teams can easily be grouped based on value during exploration
size = []

for value in market['Team Value (Billions)']:
    if value < cut_25:
        size.append('small')
    elif value <= cut_75:
        size.append('medium')
    else:
        size.append('large')
        
market['Market Size'] = size
market = market.sort_values('Market Size')
print(market)

   Team  Team Value (Billions) Market Size
10  HOU                  2.500       large
1   BOS                  3.200       large
2   BRK                  2.650       large
3   CHI                  3.300       large
19  NYK                  5.000       large
9   GSW                  4.700       large
13  LAL                  4.600       large
12  LAC                  2.750       large
23  PHO                  1.700      medium
24  POR                  1.900      medium
16  MIL                  1.625      medium
15  MIA                  2.000      medium
28  UTA                  1.660      medium
29  WAS                  1.800      medium
20  OKC                  1.575      medium
26  SAS                  1.850      medium
7   DEN                  1.650      medium
6   DAL                  2.450      medium
5   CLE                  1.560      medium
27  TOR                  2.150      medium
25  SAC                  1.825      medium
22  PHI                  2.075      medium
0   ATL                  1.520       small
18  NOP                  1.350       small
17  MIN                  1.400       small
11  IND                  1.550       small
8   DET                  1.450       small
4   CHO                  1.500       small
21  ORL                  1.460       small
14  MEM                  1.300       small

In [28]:
# Merge the market dataframe with the main dataframe
df = pd.merge(df, market, on='Team')
df = df.sort_values('Salary (millions)', ascending=False)
df.head()

,Player,Pos,Age,G,GS,MP,FG,FGA,FG%,3P,...,STL,BLK,TOV,PF,PTS,Signed Using,Team,Salary (millions),Team Value (Billions),Market Size
163,Stephen Curry,PG,32,29,29,987,10.6,21.5,0.492,5.3,...,1.3,0.1,3.4,2.0,31.7,Early Bird Rights,GSW,40.231758,4.7,large
117,Chris Paul,PG,35,26,26,843,7.3,14.9,0.489,1.6,...,1.4,0.3,2.6,3.0,19.1,Early Bird Rights,PHO,38.506482,1.7,medium
193,Russell Westbrook,PG,32,19,19,631,7.9,19.4,0.406,1.3,...,0.9,0.4,5.4,3.1,20.5,Early Bird Rights,WAS,38.178000,1.8,medium
308,John Wall,PG,30,19,19,591,8.6,19.5,0.441,2.4,...,1.2,0.8,4.0,1.6,23.6,Early Bird Rights,HOU,37.800000,2.5,large
329,LeBron James,PG,36,29,29,1006,9.8,19.5,0.504,2.6,...,1.1,0.5,3.9,1.6,26.6,Cap Space,LAL,37.436858,4.6,large

## Save Data for Future Use

In [29]:
df.to_csv('NBA clean data')